@model string
<!doctype html>
<meta charset="UTF8">

<html ng-app="calendar" ng-init="fetchurl = '/Calendar/getScheduleForStudent/?userId=@Model'">

<head>
    <title>Calendar</title>
    <!-- <script src="angular.js"></script> -->
</head>
<body ng-controller="CalendarController">
    <canvas id="canvas" width="742" height="1022" style="text-align: center"></canvas>
    @*@Html.ActionLink("Create New Post", "CreateScheduleDetail", new { id = Model })
    @Html.ActionLink("Manage Posts", "ManageScheduleDetails", new { id = Model })*@
</body>

<script type="text/javascript" src="/Scripts/Calendar.js"></script>
</html>

