<!doctype html>
<meta charset="UTF8">

<html ng-app="calendar">

<head>
    <title>Calendar</title>
    <!-- <script src="angular.js"></script> -->
<script>

</script>
</head>
<body ng-controller="CalendarController">
    <canvas id="canvas" width="722" height="1002"></canvas>
</body>

<script>
var tableWidth = 720;
var tableHeight = 1000;
var tableOffsetX = 20;
var tableOffsetY = 0;
var cellDimensionsX = 100;
var cellDimensionsY = 50;
var daysOfTheWeek = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];

var drawScheduleDetails = function(smodels)
{
	context.beginPath();

	console.log("drawScheduleDetails()");
	for(var i = 0; i < smodels.length; i++)
	{
		context.lineWidth = 2;
		context.strokeStyle = 'blue';
		context.rect(
				smodels[i].DayOfTheWeek * cellDimensionsX + tableOffsetX,
				smodels[i].Hours * cellDimensionsY + tableOffsetY,
				cellDimensionsX,
				cellDimensionsY
			);
		console.log("rect");
	}

	context.stroke();
}

var drawTimetable = function()
{
	// Border
	context.beginPath();
	context.rect(tableOffsetX,tableOffsetY,tableWidth, tableHeight);
	context.lineWidth = 1;
	context.strokeStyle = 'black';

	// Header

	context.font = "18px Arial";
	for(var i = 0; i < 7; i++)
	{
		var cellOffsetX = i * cellDimensionsX;
		context.rect(
			tableOffsetX + cellOffsetX,
			tableOffsetY,
			cellDimensionsX,
			cellDimensionsY);
		context.fillText(daysOfTheWeek[i], cellOffsetX+25, tableOffsetY+30);
	}

	// Body
	context.font = "12px Arial";

	var tableBodyOffsetY = tableOffsetY + cellDimensionsY;
	for(var y = 0; y < 20; y++)
	{
		var cellY = tableBodyOffsetY + cellDimensionsY * y;
		context.fillText((y+5) + ".00", 23,cellY+12);
		for(var x = 0; x < 7; x++)
		{
			var cellX = tableOffsetX + x * cellDimensionsX;
			context.rect(cellX, cellY,
				cellDimensionsX,
				cellDimensionsY
				);
		}
	}

	context.stroke();

	// Draw the schedule posts
	drawScheduleDetails(models);
}


var canvas = document.getElementById('canvas');
var context = canvas.getContext('2d');

var calendar = angular.module("calendar", []);
var models = [];
// calendar.factory("CalendarService", function($http)
// {

// });
calendar.controller("CalendarController", function($scope, $http)
{
	$scope.getScheduleDetails = function()
	{
		$http(
		{
			method: 'GET',
			url: '/CalendarTest/getSchedule'
		}).then(function successCallback(response)
		{
			models = response.data;
			console.log("Got the data!");
			console.log(models);
			// drawTimetable(models);
		},
		function failureCallback(response)
		{
			console.log("Failed to get data");
		});
	}

	$scope.getScheduleDetails();
	$
});


// drawTimetable();
// drawScheduleDetails(models);
setTimeout(drawTimetable, 4000);
</script>
</html>

