@*Emelies temporary test view for calendar stuff.*@

@model IEnumerable<LMSProject.Models.scheduleDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <thead>
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Hello</th>
            <th>World</th>
            <th>!oasd</th>
            <th>asopdk</th>
        </tr>
    </tbody>
</table>