@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:rgba(0, 148, 255,0.7)">
    <h1 class="media-heading" style="float:left; padding-top:85px;">LMS Project</h1>
    <img src="http://images.freecreatives.com/wp-content/uploads/2015/06/rainbow-wallpapers-hd1.jpg" style="width:55%; height:35%; padding-left:25px; padding-right:25px"></div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To be able to use LMS Project you will have to Initialize the application. Initialization will create necessary data and templatesthat will
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>