@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:rgba(0, 148, 255,0.7)">
    <h1 class="media-heading" style="float:left; padding-top:85px; font-family:Dotum">LMS Project</h1>
    <img src="http://images.freecreatives.com/wp-content/uploads/2015/06/rainbow-wallpapers-hd1.jpg" style="width:55%; height:35%; padding-left:25px; padding-right:25px"></div>

<div class="row">
    <div class="col-md-12 styleRow" style="color:white">
        <h2>Getting started</h2>
        <p>
            To be able to use LMS Project you will have to Initialize the application or Log In. Initialization will create necessary data and templates for application usage. Please proceed by using menu on top of the page.
        </p>
    </div>
</div>