@model LMSProject.Models.user

@using (Html.BeginForm("AddSchoolClassToUser", "users", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="HiddenUserId" value="@ViewBag.HiddenUserId" />
    <input type="hidden" name="HiddenRoleId" value="@ViewBag.HiddenRoleId" />

    @Html.DropDownListFor(model => model.schoolClassID, (IEnumerable<SelectListItem>)ViewBag.SchoolClassSelectList, htmlAttributes: new { @class = "form-control" , style="display:inline"})

    IEnumerable<SelectListItem> SchoolClassSelectList = (IEnumerable<SelectListItem>)ViewBag.SchoolClassSelectList;

    if (SchoolClassSelectList.Count() <= 0)
    {
        <input type="submit" value="Add" class="btn btn-info" disabled="disabled" style="display:inline" />
    }
    else
    {
        <input type="submit" value="Add" class="btn btn-info" style="display:inline" />
    }

    @*<div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Dropdown Example
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
        </ul>
    </div>*@
    
}